# Fichiers à ignorer
node_modules/
/android/app/build/
/android/app/debug/
/android/app/profile/
/android/app/release/
android/*.hprof
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub/

serviceAccountKey
# Ignore all JSON files to prevent leaking secrets
*.json
# Except strictly necessary ones (if any, add negations like !file.json)
